/target/
Cargo.lock
*.swp
*.swo
.DS_Store
src/policy_gen.rs
__pycache__/
*.py[cod]
.venv/
crates/typesec-python/python/typesec/_native*.so
crates/typesec-python/python/typesec/_native*.pyd
docs/book/dist/* (*).epub
docs/book/dist/* (*).pdf
docs/book/dist/* (*).html
docs/book/dist/* (*)-chapters
